body
{
background-color:black;
}
audio
{
display:none;
}

.planets
{
font-size:25px;
}

.sun
{
position:absolute;
top:50%;
right:50%;
}

.mercury
{
position:absolute;
top:35%;
left:35%;
}

.venus
{
position:absolute;
top:60%;
right:35%;
}

.earth
{
position:absolute;
top:20%;
left:45%;
}

.mars
{
position:absolute;
bottom:70%;
left:20%;
}

.jupiter
{
position:absolute;
top:20%;
right:30%;
}

.saturn
{
position:absolute;
top:50%;
right:15%;
}

.uranus
{
position:absolute;
bottom:10%;
right:10%;
}

.neptune
{
position:absolute;
bottom:20%;
left:2%;
}